---
import dayjs from 'dayjs'

import Button from '@/components/Button.astro'
import Share from '@/components/Share.astro'
import { config } from '@/config'
import Layout from '@/layouts/Layout.astro'
import { getNewsPosts } from '@/libs/posts'

export const getStaticPaths = async () => {
  const posts = await getNewsPosts()

  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }))
}

const { post } = Astro.props
const props = {
  title: post.title,
  ogp: { type: 'article' },
}
---

<Layout {...props}>
  <header class="">
    <h1 class="text-2xl font-semibold">{post.title}</h1>
    <time datetime={post.publishedAt} class="mt-4 block text-sm text-gray-700">
      {dayjs(post.publishedAt).format(config.format.datetime)}
    </time>
  </header>
  <article class="prose my-15">
    <div set:html={post.content} />
  </article>
  <footer class="flex flex-wrap justify-center gap-x-2 gap-y-4">
    <Button href="/news" size="lg">全てのお知らせを見る</Button>
    <Share
      title={`${post.title} - ${config.siteMetadata.name}`}
      url={Astro.url.toString()}>
      <Fragment slot="label">このお知らせをシェアする</Fragment>
    </Share>
  </footer>
</Layout>
