---
import { Image } from 'astro:assets'

import { Bars3Icon, XMarkIcon } from '@heroicons/react/24/solid'
import { twMerge } from 'tailwind-merge'

import { config } from '@/config'

const { menu, social } = config
---

<div x-data="nav()">
  <nav
    id="nav-menu"
    class="group max-grail:fixed max-grail:inset-0 max-grail:z-40 max-grail:bg-black/20 max-grail:backdrop-blur-xs max-h-dvh overflow-auto py-10 transition-[visibility,background-color,backdrop-filter] transition-discrete duration-500 ease-in-out aria-hidden:invisible aria-hidden:bg-transparent aria-hidden:backdrop-blur-[0]"
    aria-label="ナビゲーションメニュー"
    x-bind:aria-hidden="!isOpen"
    aria-hidden="true"
    x-bind:data-scroll-lock="isOpen">
    <ul class="grid gap-y-3">
      {
        menu.map(({ label, href }, i) => (
          <li
            class={twMerge(
              'max-grail:transition-[translate,visibility] max-grail:transition-discrete max-grail:duration-500',
              '-translate-x-5 ease-in-out',
              'group-aria-[hidden]:invisible group-aria-[hidden]:-translate-x-full'
            )}
            style={{ 'transition-delay': `${100 + i * 50}ms` }}>
            {href && (
              <a
                href={href}
                class={twMerge(
                  'grail:text-lg inline-block bg-linear-to-l from-[calc(var(--spacing)*5)] to-white to-[calc(var(--spacing)*5)] px-10 py-2.5',
                  i % 3 === 0 && '-rotate-3 from-[oklch(0.86_0.07_38.59)]', // フィジカル
                  i % 3 === 1 && 'rotate-1 from-[oklch(0.9_0.06_221.89)]', // インテリ
                  i % 3 === 2 && '-rotate-1 from-[oklch(0.97_0.11_106.08)]' // メンタル
                )}>
                {label}
              </a>
            )}
          </li>
        ))
      }
    </ul>
    <ul
      class="mx-4 mt-8 flex flex-wrap gap-2 transition-transform duration-500 ease-in-out group-aria-[hidden]:-translate-x-full">
      {
        social.map(({ label, href, src }) => (
          <li>
            <a href={href} aria-label={label} class="block aspect-square w-10">
              <Image
                src={src}
                alt=""
                format={src.format === 'svg' ? 'svg' : 'webp'}
                class="size-full object-contain"
              />
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
  <button
    type="button"
    x-on:click="isOpen = !isOpen"
    x-bind:aria-expanded="isOpen"
    aria-controls="nav-menu"
    aria-label="isOpen ? 'メニューを閉じる' : 'メニューを開く'"
    class="group grail:hidden fixed top-0 right-0 z-50 grid size-12 cursor-pointer place-content-center">
    <Bars3Icon className="size-7.5 group-aria-expanded:hidden" />
    <XMarkIcon className="hidden size-7.5 group-aria-expanded:block" />
  </button>
</div>

<script is:inline>
  window.nav = function () {
    return {
      isOpen: false,
      init() {
        const root = document.documentElement
        const breakpoint = getComputedStyle(root)
          .getPropertyValue('--breakpoint-grail')
          .trim()
        const mediaQuery = window.matchMedia(`(min-width: ${breakpoint})`)
        const setMenuVisibility = (mediaQuery) => {
          this.isOpen = mediaQuery.matches
        }
        mediaQuery.addEventListener('change', setMenuVisibility)
        setMenuVisibility(mediaQuery)

        if (!mediaQuery.matches) {
          this.$nextTick(() => {
            const anchors = document.querySelectorAll('#nav-menu a')
            for (const anchor of anchors) {
              anchor.addEventListener('click', () => {
                this.isOpen = false
              })
            }
          })
        }
      },
    }
  }
</script>
