---
import '@/styles/main.css'
import { Image } from 'astro:assets'

import { SEO } from 'astro-seo'

import Footer from '@/components/Footer.astro'
import Nav from '@/components/Nav.astro'
import ToTop from '@/components/ToTop.astro'
import { config } from '@/config'
import logo from '@/images/logo.jpg'

export interface Props {
  title?: string
  description?: string
  ogp?: {
    type?: string
    image?: string
    url?: string
  }
}

const { title = '', description = '', ogp = {} } = Astro.props
const { pathname } = Astro.url
const LogoElement = pathname === '/' ? 'h1' : 'span'
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      titleTemplate=`%s | ${config.siteMetadata.name}`
      titleDefault={config.siteMetadata.name}
      description={description || config.siteMetadata.description}
      canonical={Astro.site?.origin + Astro.url.pathname}
      openGraph={{
        basic: Object.assign(
          {
            title,
            type: 'website',
            image: '',
            url: Astro.site?.origin + Astro.url.pathname,
          },
          ogp
        ),
      }}
    />
  </head>
  <body class="bg-gray-100">
    <div class="">
      <slot name="first-view" />
    </div>
    <div class="@container mx-auto max-w-screen-2xl overflow-x-clip">
      <div
        class="relative grid grid-flow-dense items-start md:grid-cols-[1fr_var(--spacing-main)_1fr]">
        <LogoElement
          class="@3xl:sticky @3xl:top-0 @3xl:translate-y-[calc(50vh-50%)] @3xl:px-[3cqi]">
          <a href="/">
            <Image
              src={logo}
              alt={config.siteMetadata.name}
              class="mx-auto w-3xs"
            />
          </a>
        </LogoElement>
        <div
          class="@3xl:sticky @3xl:top-0 @3xl:-col-end-1 @3xl:translate-y-[calc(50vh-50%)] @3xl:px-[3cqi]">
          <Nav />
        </div>
        <main
          class="min-h-screen bg-white px-[clamp(calc(var(--spacing)*5),3cqi,calc(var(--spacing)*10))] py-10">
          <slot />
        </main>
        <Footer class="@3xl:col-start-2" />
        <ToTop class="@3xl:-col-end-1" />
      </div>
    </div>
  </body>
</html>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    // ページ内リンクのスムーススクロール
    const anchorLinks = document.querySelectorAll('a[href*="#"]')
    for (const element of Array.from(anchorLinks)) {
      element.addEventListener('click', (event) => {
        handleClick(event)
      })
    }
  })

  const scrollToTarget = (element: HTMLElement) => {
    const isPrefersReduced = window.matchMedia(
      '(prefers-reduced-motion: reduce)'
    ).matches
    const behavior = isPrefersReduced ? 'instant' : 'smooth'

    element.scrollIntoView({ behavior })
  }

  const focusTarget = (element: HTMLElement) => {
    element.focus({ preventScroll: true })
    if (document.activeElement !== element) {
      element.setAttribute('tabindex', '-1')
      element.focus({ preventScroll: true })
    }
  }

  const handleClick = (event: Event) => {
    if (!(event instanceof MouseEvent) || event.button !== 0) return

    const clickTarget = event.target
    if (!(clickTarget instanceof Element)) return

    const currentLink = clickTarget.closest<HTMLAnchorElement>('a[href*="#"]')
    if (!currentLink) return

    const hash = currentLink.hash
    if (
      !hash ||
      currentLink.getAttribute('role') === 'tab' ||
      currentLink.getAttribute('role') === 'button' ||
      currentLink.getAttribute('data-smooth-scroll') === 'disabled'
    ) {
      return
    }

    const targetId = decodeURIComponent(hash.slice(1))
    const targetElement =
      (document.getElementById(targetId) as HTMLElement | null) ||
      ((hash === '#top' && document.body) as HTMLElement | false)
    if (targetElement instanceof HTMLElement) {
      event.preventDefault()

      scrollToTarget(targetElement)
      focusTarget(targetElement)

      if (!(hash === '#top')) {
        history.pushState({}, '', hash)
      }
    }
  }
</script>
