---
import '@/styles/main.css'
import { Image } from 'astro:assets'

import { SEO } from 'astro-seo'

import Footer from '@/components/Footer.astro'
import Nav from '@/components/Nav.astro'
import { config } from '@/config'
import logo from '@/images/logo.jpg'

export interface Props {
  title?: string
  description?: string
  ogp?: {
    type?: string
    image?: string
    url?: string
  }
}

const { title = '', description = '', ogp = {} } = Astro.props
const { pathname } = Astro.url
const LogoElement = pathname === '/' ? 'h1' : 'span'
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO
      title={title}
      titleTemplate=`%s | ${config.siteMetadata.name}`
      titleDefault={config.siteMetadata.name}
      description={description || config.siteMetadata.description}
      canonical={Astro.site?.origin + Astro.url.pathname}
      openGraph={{
        basic: Object.assign(
          {
            title,
            type: 'website',
            image: '',
            url: Astro.site?.origin + Astro.url.pathname,
          },
          ogp
        ),
      }}
    />
  </head>
  <body class="">
    <div class="@container mx-auto max-w-screen-2xl">
      <div class="col-start-1 -col-end-1">
        <slot name="first-view" />
      </div>
      <div
        class="grid grid-flow-dense items-start sm:grid-cols-[1fr_clamp(var(--breakpoint-xs),40cqi,var(--breakpoint-sm))_1fr]">
        <LogoElement
          class="@3xl:sticky @3xl:top-0 @3xl:translate-y-[calc(50vh-50%)] @3xl:px-[3cqi]">
          <a href="/">
            <Image
              src={logo}
              alt={config.siteMetadata.name}
              class="mx-auto w-3xs"
            />
          </a>
        </LogoElement>
        <div
          class="@3xl:sticky @3xl:top-0 @3xl:-col-end-1 @3xl:translate-y-[calc(50vh-50%)] @3xl:px-[3cqi]">
          <Nav />
        </div>
        <main
          class="min-h-screen bg-gray-100 px-[clamp(calc(var(--spacing)*5),3cqi,calc(var(--spacing)*10))] py-10">
          <slot />
        </main>
        <Footer class="@3xl:col-start-2" />
      </div>
    </div>
  </body>
</html>
